name: test

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: |
        curl -sSL \
          "https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py" | python

        # Adding `poetry` to `$PATH`:
        echo "$HOME/.poetry/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: |
        poetry config virtualenvs.in-project true
        poetry run pip install -U pip
        poetry install

    - name: Run tests
      run: |
        poetry run flake8 .
        poetry run mypy classes ./tests/**/*.py
        poetry run codespell classes tests docs typesafety README.md CONTRIBUTING.md CHANGELOG.md
        poetry run pytest classes tests docs/pages README.md
        poetry run doc8 -q docs
        poetry run poetry check
        poetry run pip check
        poetry run safety check --full-report
        # We do this to speed up the build:
        poetry run pytest typesafety -p no:cov -o addopts="" --mypy-ini-file=setup.cfg

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2.1.0
      with:
        file: ./coverage.xml
